.filter__header{
    background-color: rgb(233, 195, 195);
}

.filter__sort{
    background-color: rgb(177, 214, 173);
}

.filter__menu{
    background-color: rgb(205, 195, 240);
}

.filter__items{
    background-color: rgb(196, 199, 152);
}